<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>
    <!-- linking an image -->
    <img src="{{ url_for('static', filename='img/image.png') }}">
    </script>
</head>

<body>

    <h1>Counter</h1>
    <p>{{session['count']}} times</p>
    <form action='/increment' method='post'>
    <button type='submit' value='Submit'>Hit me!</button>
    </form>
    <form action='/clear' method='post'>
    <button type='submit' value='Submit'>Reset me!</button>
    </form>

    <body>