<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="action.js">

    </script>
</head>

<p> I am a Python web developer and love going to hackathons in my spare time. I love making things nd meeting new people! People might be surprised to learn that I own a horse and used to be a horse trainer!</p>


<body>