<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>
    <!-- linking an image -->
    <img src="{{ url_for('static', filename='img/image.png') }}">
    </script>
</head>
<body>
    <h1>Enter a Valid(Any) Email! </h1>
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
            <p>{{message}}</p>
        {% endfor %} 
        {% endif %} 
    {% endwith %} 
    <form action='/process' method='POST'>
        Email:<input type="text" name="email">
        <input type="submit" value="Submit">
    </form>
<body>