<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>
 <!-- linking an image -->
    <img src="{{ url_for('static', filename='img/image.png') }}">
    </script>
</head>

<h3> Welcome to my website!</h3>
<p>My name is {{name}}</p>


<body>