<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>
    <!-- linking an image -->
    <img src="{{ url_for('static', filename='img/image.png') }}">
    </script>
</head>

<body>

    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p> Take a guess!</p>
    <form action='/guess' method='post'>
        <input type="text" name="number" id="number">
        <input type="submit" name="submit" id="submit">
        <input type="hidden" name="answer" id="">
    </form>
    <div class="{{session['status']}}">
    <p class="message">{{session['message']}}</p>
    </div>
    <form action='/clear' method='post'>
    <button type='submit' value='Submit'>Reset me!</button>
    </form>
    <body>